<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main :: body}">
<body>

<h1>Users</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Login</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Role</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="u : ${users}">
        <td th:text="${u.id}">1</td>
        <td th:text="${u.login}">login</td>
        <td th:text="${u.firstname}">firstname</td>
        <td th:text="${u.lastname}">lastname</td>
        <td th:text="${u.role}">ADMIN</td>
    </tr>
    </tbody>
</table>

</body>
</html>
