<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Show</title>
</head>
<body>

<h1 th:text="${show.title}">Titre</h1>
<p th:if="${success}" th:text="${success}" style="color:green"></p>

<p th:if="${show.description != null}" th:text="${show.description}">
    Description
</p>

<p>
    <small>
        Créé le : <span th:text="${#temporals.format(show.createdAt, 'dd/MM/yyyy HH:mm')}">date</span>
    </small>
</p>
<p><a th:href="@{/shows/{id}/edit(id=${show.id})}">Modifier</a></p>
<form th:action="@{/shows/{id}/delete(id=${show.id})}" method="post"
      onsubmit="return confirm('Supprimer ce show ?');">
    <button type="submit">Supprimer</button>
</form>

<p><a th:href="@{/shows}">Retour au catalogue</a></p>

</body>
</html>